extends layout

block content
  center
    h1 Welcome to Phonebook

  div.container
    div.col-md-6.offset-md-3
        div.card.mt-5
            div.card-body
                h5.card-title Register
                div.col-md-12
                    form(action="/users/register", method="post")
                        .form-grp
                            label(for="name") Name:
                            input(type="text" class="form-control" name='name')
                        .form-grp
                            label(for="email") Email:
                            input(type="email" class="form-control" name='email')
                        .form-grp
                            label(for="password") Password:
                            input(type="password" class="form-control" name='password')
                        .form-grp
                            label(for="conform-password") Confrim Password:
                            input(type="password" class="form-control" name='password2')
                        button(type='submit' name='submit' class='btn btn-primary mt-2') Submit

