extends layout

block content
  center
    h1 Welcome to Phonebook

  
  div(class='container')
    div.col-md-4
      form(action="/save-contact", method='post')
        div.form-grp.mt-5
          label(for="email") Name :
          input(type="text" class='form-control' name='name')
        div.form-grp.mt-5
          label(for="number") Number :
          input(type="text" class='form-control' name="number")

        button(type="submit" class="btn btn-primary mt-2") Submit
    ul
    if contacts
        li Name:  #{contacts.name} 
        li Number: #{contacts.number}
    

  